<%- include('header') %>

<div>

    <div>
        
        <br>

        <form action = "/patient/ajouterPatient" method = "POST" enctype = "application/x-www-form-urlencoded" id = "formulaire">

            <div>
    
                <label for = "nom"> Nom : </label>
                <input type = "text" name = "nom" id = "nom" required>

                <label for = "prenom"> Prénom : </label>
                <input type = "text" name = "prenom" id = "prenom" required>

                <label for = "dateNaissance"> Date de naissance : </label>
                <input type = "text" name = "dateNaissance" id = "dateNaissance" required>

                <label for = "numeroSecurite"> Numéro de Sécurité Sociale : </label>
                <input type = "text" name = "numeroSecurite" id = "numeroSecurite" required>

                <label for = "numero"> Numéro de téléphone : </label>
                <input type = "text" name = "numero" id = "numero" required>

                <label for = "mutuelle"> Mutuelle </label>
                <select name = "mutuelle" id = "mutuelle" required>

                    <% dataMutuelle.forEach(function(data){ %>

                        <option value = "<%= data.Mutuelle_Id %>"> <%= data.Mutuelle_Nom %> </option>

                    <%})%>
                
                </select>
    
            </div>

            <br>

        </form>

        <button class="btn btn-primary" onclick="verification()">Valider</button>

        <br>

    </div>

    <script>

        function verification() {

            let nom = document.getElementById('nom')
            let submit = document.getElementById('formulaire')

            //Tests unitaires
            if (nom.value != "") { //Champs remplis
                
                if (!/^[A-Za-z]+$/.test(nom)) { //Champ prénom composé uniquement de lettres
                    submit.submit()
                }
                else {
                    nom.style.background = "red"
                    alert("Le nom ne doit pas contenir de caractères spéciaux")
                }
            }
            if (nom.value == "") {
                nom.style.background = "red"
                alert("Veuillez remplir le champ")
            }
        }

    </script>

    <br>

</div>

