<!DOCTYPE html>
<html lang="fr">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pharmacie Sauteuhz</title>

</head>

<body>

    <div>

        <h1> Pharmacie Sauteuze </h1>

        <a href="http://localhost:3000/"> Accueil </a> |
        <a href="http://localhost:3000/ordonnance"> Ordonnances </a> |
        <a href="http://localhost:3000/medecin">Medecins</a> |
        <a href="http://localhost:3000/patient">Patients</a> |
        <a href="http://localhost:3000/medicament">Medicaments</a> |
        <a href="http://localhost:3000/mutuelle">Mutuelles</a> |
        <a href="http://localhost:3000/maladie">Maladies</a> |
            
    </div>

    

    