<%- include('header') %>

    <div class="infoAccueil">
        Bienvenue sur la Pharmacie Sauteuhz. <br>
        Ici, vous pouvez utiliser nos différent outils afin d'améliorer la gestion de votre pharmacie.<br>
        Vous pouvez gérer et suivre les différents aspects de votre pharmacie à savoir : les Maladies, les Ordonnances, les Patients, les Médecins,
        les Mutuelles et les Médicaments. 
    </div>



<%- include('footer') %>